body{
  overflow-x: hidden;
}

header {
  background-color: rgba(26, 10, 56, 0.53);
  color: #fff;
  z-index: 1000;
}

header a {
  color: #fff;
}
.active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color:#BC7DFB;
}
#gldn{
	padding-left:15px;
}
#gldn p{
	padding-left:10px;
}
header::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0;
  bottom: -20px;
}

.nav-link {
  font-family: "Rajdhani", sans-serif;
  text-transform: uppercase;
}

.navbar-brand h1 {
  margin: 0;
}


.navbar-brand img {
  width: 135px;
}


.navbar-collapse .nav-link {
  font-size: 1.125rem;
  transition: all 0.2s ease-in-out;
}

.navbar-collapse .nav-link:hover {
  color: #ee1515;
}

.hero {
  background: url("../images/hero-bg3.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.hero .container {
  position: relative;
  z-index: 5;
}

.hero .slide-content {
  min-height: 600px;
  color: #fff;
}

.hero .slide-content span {
  color: #ee1515;
}

.hero .slide-content h1 {
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.56);
  text-transform: uppercase;
  -webkit-transform: matrix(0.93128, 0, 0, 0.93128, 0, 0);
          transform: matrix(0.93128, 0, 0, 0.93128, 0, 0);
  font-weight: bold;
}

.hero .slide-content p {
  color: #170936;
  -webkit-transform: matrix(0.93128, 0, 0, 0.93128, 0, 0);
          transform: matrix(0.93128, 0, 0, 0.93128, 0, 0);
  padding: 35px 0 35px 30px;
  background-color: rgba(255, 255, 255, 0.51);
  border-top-right-radius: 100px;
  border-bottom-left-radius: 10px;
  margin-bottom: 0;
}

.hero .slide-content .btn {
  margin-top: 50px;
}

.hero .slide-content .btn:last-child {
  margin-left: 30px;
}

.hero .arr-left,
.hero .arr-right {
  font-size: 3rem;
  display: block;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 85%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
}

.hero .arr-left:hover,
.hero .arr-right:hover {
  cursor: pointer;
}

.hero .arr-right {
  right: 15px;
}

.hero .diag-bg {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
          clip-path: polygon(0 0, 100% 100%, 100% 0);
  background-color: rgba(240, 0, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero .texture {
  width: 100%;
  height: 100%;
  background: url("../images/hero-texture.png") no-repeat center;
  background-size: cover;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.02);
  position: absolute;
  left: 0;
  bottom: 29%;
}

.hero::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.02);
  position: absolute;
  left: 0;
  bottom: 58%;
}

.cta-content {
  padding: 30px 0 90px;
  color: #fff;
  background-color: #ee1515;
  position: relative;
  z-index: 1;
}

.cta-content::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(24, 9, 53, 0.77);
  position: absolute;
  top: -25px;
  left: -1px;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.cta-content .subscribe-btn {
  align-self: flex-end;
  margin-right: 30px;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}

.title h6 {
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.title h1 {
  font-size: 35px;
}

.title .title-blue {
  color: #26264b;
}

.title .title-primary {
  color: #ee1515;
}

.services {
  padding: 30px 0 50px;
}

.services .title {
  margin-bottom: 20px;
}

.services .media {
  margin: 40px 0;
}

.services h5 {
  color: #26264b;
  border-bottom: 2px solid #e7e7e7;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
#youtube{
  margin-top: 5em;
   margin-right: 0em;
}
#utube{
  margin-top: 2em;
  margin-right: 0em;
  font-family: 'Pangolin', cursive;
  font-size: 2.5em;
  color: #343AF9;
 }

.quote{
  text-align: center;
    font-style: italic;
    color: #000;
    padding-left: 90px;
    padding-right: 90px;
    margin-top: 50px;
    background-color: #fff;
    font-size: 20px;
    margin-bottom: 0;
}
.back{
  margin-top: 15px;
}
/*******************************application page***********************************************************/
.f_c_l{
  margin-top: 100px;
  margin-bottom: 50px;

}
.f_s{
  background-color: rgb(154, 240, 128);
}
.f_s_i{
  align-content: center;
  margin: 10px auto;

}
.f_c_s{
  margin-top: 100px;


}
.f_c_s_i{
  width: 200px;
  margin-bottom: 50px;
}
#f_b{
  background-color: lightslategrey;
}
.fclc{
 background-color: lightsteelblue;
}
.app_slide{
  height: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-bottom: 25px solid #ee1515;
  color: whitesmoke;
  background-color: #67183F;
}
.a_c_i{
  margin-top: 800px;
}
.a_c_j{
  align-content: center;
  margin-top: auto;
  margin-left:0;
  margin-right:0;
  width: 100%;
  background-color:   #67183F;
  border-bottom: 25px solid #ee1515;
}
.a_c_j_c{
  align-items: center;
  margin: 10px;
}

.ar_{
  margin-top: 0;

  padding: 50px;
}
.ar_c{

  color: whitesmoke;
  background-color: #67183F; ;
}
.ar_c_c_l{
  border-left:25px solid #ee1515; ;
}
.ar_c_c_r{
  border-right: 25px solid #ee1515;;
}
.ar_c_i{
  width: auto;
  margin: auto;
  align-items: center;
}
.ar_h1{
  background-color:#ee1515;
  color: whitesmoke;
font-size: 50px;
padding: 25px;
}
#archi{
  display: none;

}
#music{
  display: none;
}
#design{
  display: none;
}
#nature{
  display: none;
}
.app_img{
  max-width: 290px;
   max-width: 290px;
  max-height: 250px;
}
.app_back_btn{
  width: auto;
  margin: auto;

}
.app_titl{
  font-size: 30px;
  color: #ee1515;
}
#app_nav{
  background-color:#67183F;
}
.app_car{
  height: 300px;
  width: 75%;
}
#archi_btn{
  margin-bottom: 5px;
  vertical-align: bottom;
}
.button1{
  vertical-align: bottom;
  position:absolute;
}
.music_btn{
  margin-top: 5px;
}

#app_car_ind{
  position: relative;
}

.card-img {
text-align: left;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
}
.card-img img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.display-7{
    margin-bottom: 20px;
    margin-top: 7px;
    font-size: 25px;
}
.display-4 {
    font-size: 20px;
    padding-left: 15px;
    font-weight: 1000;
    text-align: center;
    padding-top: 3px;
    margin-bottom: 2px;
  }

.footer2{

  color: black;
}

.list-item{
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;

}
.footer1{
  background-color: #ee1515;
    position: relative;
    z-index: 1;
    color: white;
    margin-top: 30px;
}
.footer1::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(24, 9, 53, 0.77);
    position: absolute;
    top: -15px;
    left: -10px;
    z-index: -1;
    transition: all 0.2s ease-in-out;
  }

.list-item1{
  display: inline;
}
.fa{
  padding: 4px;
  font-size: 20px;
  cursor: pointer;
}
.ic{
  margin-left: 60px;
}
#youtube {
  position: relative;
  padding-bottom: 250px;
  padding-top: 45px;
  margin-right: 5px;
  margin-left: 5px;
  overflow: hidden;
}
#youtube iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-right: 5px;
  margin-left: 5px;
}
@media (max-width: 576px) {

  #youtube iframe{
    width: 400px;

  }

.display-7{
  font-size: 15px;
}
.display-4{
  font-size: 10px;
}
.fa{
  font-size: 13px;
}
}
/* @media (min-width:577px and max-width: 991px){
#youtube iframe{
  width: 300px;
} */
#pic1{
  width: 200px;
}
@media (min-width: 992px) {
  .card {
  background-color: transparent;
  border: none;
}

.card-img {
  text-align: center;
  flex-shrink: 0;
 }
 #youtube iframe{
   width: 600px;
 }

}
/**********************************************************************************************/
#basic{
  margin-top: 50px;
}
.defination {
  padding: 60px 10px;
  background-color: #fafafa;
}

.defination p {
  margin: 35px 0 53px;
}

.defination .media i {
  font-size: 24px;
  color: #ee1515;
}

.defination .media h5 {
  text-transform: uppercase;
  color: #26264b;
}

.defination .btn {
  margin-top: 80px;
}

.defination-img {
  position: relative;
  height: 530px;
  margin-top: 60px;
}

.defination-big {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
}

.defination-small {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 25px  0 25px;
  background-color: #fff;
}
.cta2 {
  margin: 50px 0 -30px;
}
.m-content {
  padding: 100px 0;
}


.m-content{
  background: url(../images/img-bcg.png) center center/cover no-repeat  #910a3c;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.m-content h3{
  color: #fff;
  padding-top: 35px;
  text-align: center;

}
.m-content p{
  color: #fff;
  padding-top: 10px;
  margin-bottom: 15px;
}
.pic2{
  max-height: 290px;
}
.row1{
  margin-top: 100px;
}
.row1 p{
  width: 100%;
  height: 100%;
  padding-top: 60px;
  max-height: 250px;
  margin-bottom: 5px;
}
.row1 h1{
  text-align: center;
      font-size: 30px;
      font-weight: 600;
      margin-top: 40px;
}
.mona{
  padding-top: 0;
  padding-bottom: 50px;
  max-width: 600px;
  margin-top: 10px;
}
 iframe {
        display: block;
        width: 100vw;
        max-width: 100%;
        margin: 0;
        padding: 0;
        border: 0 none;
        box-sizing: border-box;
        margin-top: 20px;
    }
.pic1 img{
  width: 340px;
}
.pa p{
padding-top: 130px;
}
.btn1{
  margin-top: 5px;
}
/* Dark mode code begins*/

/* Dark mode code begins*/


:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}
[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color:#15040B;
  --heading-color: #818cab;
  --img: url("../images/dark.bg.jpg") no-repeat center;
  --textcol:#F3712B ;
  --textcol1:#F9A96A ;
  --textcol2:#6AEEF9 ;
  --textcol3:#b34d4d;
}
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
  em {
    margin-left:10px;
    font-size:1rem;
  }


.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


body {
  background-color: var(--bg-color);
  color: var(--font-color);
}
h1 {
  color: var(--heading-color);
}
 .a_c_j_c{
   background-color: var(--bg-color);
   color: var(--font-color);
 }
 .defination{
   background-color: var(--bg-color);
   color: var(--font-color);
 }
 .title .title-blue,.services h5 {
  color:var(--textcol);
 }
.services h5,#utube{
   color:var(--textcol1);

}
/* .defination .media h5,.pp h1,.sc h1,.hk h1,{
  color:var(--font-color);

} */
.defination-small {
  background-color: var(--bg-color);
}
.quote{
  background-color: var(--bg-color);
  color: var(--font-color);
}
#foot_c{
  background-color: var(--bg-color);
  color: var(--font-color);
}